@model IEnumerable<SubCategoryDto>

@* @{
    ViewData["Title"] = "Kategoriler";
} *@

<div class="container-fluid px-4">
    <h1 class="mt-4">@ViewBag.CategoryName Alt Kategoriler</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Main" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item"><a asp-controller="Categories" asp-action="Index">Kategoriler</a></li>
        <li class="breadcrumb-item active">@ViewBag.CategoryName Alt Kategoriler</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Alt Kategori Listesi

            <a asp-controller="Subcategory" asp-action="Create" asp-route-id="@ViewBag.CategoryId" title="Yeni Alt Kategori Oluştur" class="btn btn-primary btn-sm float-end">
                <i class="fas fa-plus-circle"></i>
            </a>
        </div>

        <div class="card-body">
            <table id="datatablesSimple" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Alt Kategori Adı</th>
                        <th>Açıklama</th>
                        <th>Slug</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.Name</td>
                            <td>@category.Description</td>
                            <td>@category.Slug</td>
                            <td>
                                <a asp-controller="Subcategory" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning btn-sm me-1" title="Düzenle">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger btn-sm me-1" title="Sil">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>